     {% extends "layout.html" %}
{% block body %}

       <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="site-heading">
                            <h1>About Us</h1>
                            <h2>Welcome to Pazumai</h2>
                            <   p>We at Pazumai, wish to bring back those times, when people consumed all-natural and organic Oil and Diary products, free from present-day chemicals and pesticides.

In July 2022, we came up with Pazumai Organics, and opened our first store in Chennai/India.</p>
<br>
                            <p>
                               Pazumai means – Help or bless someone to live longer! This is what we envision our brand to be. To take care of life and health of people internally and externally, and make the society aware
about the benefits of using organic and natural products as against the harmful effects of chemicalized and adulterated products.</p>
                            </p>
                            <h5>"Nature's goodness in every bottle - Pazumai Organics“</h5>

                            <ul>
  <li>Organic food is produced without the use of pesticides, fertilizers and other harmful chemicals</li>
  <li>It doesn't contain any additives or preservatives and it is not genetically modified</li>
  <li>Contains higher level of vitamins, minerals and antioxidants</li>
                                 <li>Boosts your immunity and protects your body to remain fit in the long run</li>
                                 <li>It is better to eat healthy food than to spend on medical treatments</li>
</ul>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->




{% endblock %}
