     {% extends "layout.html" %}
{% block body %}

       <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="site-heading">
                            <h1>Our Factory</h1><br>

                          <h3>WE HAVE STANDARDS TO MAINTAIN PREMIUM-QUALITY PRODUCTS</h3>
                            <p>Through our consistent use of the best technology and our R&D Center’s double-checking quality control, our products are of exceptional quality. Our efforts have also enabled us to acquire an ISO 9001
certification, the international standard with specific requirements for quality management. Our certifications help build trust with you, our customers so that you know that our products are
gynecologist-approved and built to international quality standards.</p><br>


                          <h3>WE USE CERTIFIED, 100% CLEAN ORGANIC COTTON</h3>
                            <p>Our reputation for manufacturing some of the best organic cotton sanitary napkins comes through our OCS Blended certified 100% organic cotton. What this means is that our products are verified by an
international standard for containing 95 to 100% organic material. Thus, we made zero compromises when developing each product from start to finish.</p><br>


                          <h3>STRICT HYGIENE MANAGEMENT</h3>
                            <p>We want you to use only clean and premium-quality organic pads and liners, and the best way to achieve that is to incorporate strict hygiene management in our factory. Thus, we develop each product in
the cleanest possible environment so that you feel its comfort and exceptional quality every time.</p><br> <br><br>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->




{% endblock %}
