     {% extends "layout.html" %}
{% block body %}

       <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="site-heading">
                            <h1>Our Mission</h1><br>

                            <p>As original 100% grass-fed organic dairy, Pazumai’s mission is to bring healthy, organic, 100% grass-fed dairy products to families all over the India and rest of the word. As a result, healthy soil is the cornerstone of literally
everything we do. We work tirelessly within our network of organic 100% grass-fed farmers to develop and implement practices that result in the regeneration of the land through the management of organic grass-fed cows.</p>
<br>
                            <p>
                              When managed in harmony with nature, grazing cows are one of the most effective tools on Earth as far as igniting the life in the soil—which incidentally is the foundation of the carbon cycle, soil fertility, economic viability for
farmers and the nutrition our bodies receive from the food we eat. Pazumai’s organic grassfed milk supply, and the nourishment we provide to families through our products—starts with the health of the soil, the grass, and the happy
healthy cows on the family farms we work with.     </p><br>
                            <p>As consumers and retailers alike begin to understand the 100% grass-fed organic value proposition, Pazumai is now one of the fastest-growing dairy brands in the natural channel..
                            </p>
                            <br>

                        <p>
                            Pazumai is rooted in our desire to provide the best nutrition for our own kids and that idea is still the “heartbeat” of our company—we believe that 100% grass-fed organic dairy farming done right is the pinnacle of organic, creates
the best nutrition for all kids, and leaves the soil better than we found it. It doesn’t get any better than that!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->




{% endblock %}
